.dashboard {
  height: 100vh;
  background-color: var(--white);
}

.sidebar {
  width: 300px !important;
  height: 100vh !important;
  position: relative;
  box-shadow: 0 0 20px -10px var(--black);
  left: -100%;
  opacity: 0.3;
  transition: all 1s ease !important;
}

.show {
  left: 0;
  opacity: 1;
}

.side-item {
  height: 60px;
  width: 95%;
  background-color: var(--primary-bg);
  color: var(--white);
  text-decoration: none;
  box-shadow: 0px 0px 10px -5px var(--primary-bg);
  transition: all 0.2s ease-in-out;
}

.side-item:hover {
  background-color: var(--primary-text);
}

.sidebar-toggle {
  cursor: pointer;
}
